.App {
  margin: auto;
  width: 50%;
}

.Form input, .Form button{
  border: none;
  border-radius: 16px;
  padding: 12px;
}

.Form button {
  background-color: #12E81B;
  color: #FFF;
  font-weight: bold;
}

.List{
  display: flex;
  flex-direction: column;
}

.Todo {
  align-items: center;
  display: flex;
}

.Todo-text, .Todo-toggle {
  border: #DDD 2px solid;
  margin: 12px;
}

.Todo-text {
  border-radius: 16px;
  flex-grow: 1;
  padding: 12px;
}

.Todo-toggle {
  background-color: #FFF;
  border-radius: 50%;
  height: 24px;
  margin: 12px 0;
  width: 24px;
}