.App {
  margin: auto;
  width: 50%;
}

.Form {
  display: flex;
}

.Form button {
  border: 0;
}

.Form input {
  border: 2px solid #DDD;
  flex-grow: 1;
}

.Form input:focus {
  border: 2px solid rgb(0, 150, 7);
}

.Form input, .Form button{
  border-radius: 16px;
  padding: 12px;
}

.Form input:focus, .Form button:focus {
  outline: 0;
}

.Form button {
  background-color: rgb(0, 150, 7);
  color: #FFF;
}

.List{
  display: flex;
  flex-direction: column;
}

.Todo {
  align-items: center;
  display: flex;
  margin: 12px 0;
}

.Todo-text:hover, .Todo-toggle:hover {
  cursor: pointer;
}

.Todo-text {
  border-radius: 16px;
  flex-grow: 1;
  padding: 12px 0;
  word-wrap: break-word;
}

.Todo-toggle {
  align-items: center;
  background-color: #FFF;
  border: #DDD 2px solid;
  border-radius: 12px;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  margin: 12px 12px 12px 0;
  width: 24px;
}

.Todo-toggle:hover .Todo-toggle-delete{
  color:rgb(187, 53, 13);
}

.Todo-toggle-check {
  color:  rgb(0, 150, 7);
}

.Todo-toggle-check, .Todo-toggle-delete{
  display: none;
  font-size: 18px;
  height: 0px;
  justify-content: center;
  line-height: 0%;
  overflow: visible;
  width: 0px;
}

.Todo-complete .Todo-text {
  color: #999;
  text-decoration: line-through;
}

.Todo-complete .Todo-toggle .Todo-toggle-check{
  text-decoration: none;
  display: flex;
}

.Todo-toggle:hover .Todo-toggle-check{
  display: none;
}

.Todo-toggle:hover .Todo-toggle-delete{
  display: flex;
}